<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :contact %><br />
    <%= f.text_area :contact %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_area :phone %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_area :website %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :detail %><br />
    <%= f.text_area :detail %>
  </div>
  <div class="field">
    <%= f.label :source   %><br />
    <%= f.text_area :source %>
  </div>
  <div class="field">
    <%= f.label :link %><br />
    <%= f.text_area :link %>
  </div>
  <div class="field">
    <%= f.label :container_id %><br />
    <%= f.number_field :container_id %>
  </div>
  <div class="field">
    <%= f.label :container_type %><br />
    <%= f.text_field :container_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
